#app {
  border: 1px solid red;
  text-align: center;
  font-size: 2vw;
}

.head {
  text-align: center;
}

h1 {
  font-size: 5vw;
  margin-bottom: 30px;
  letter-spacing: 3px;
  color: lightblue;
}

#app p {
  margin-bottom: 15px;
}

h1 small {
  font-size: 2vw;

}
